body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width:210px) and (max-width:780px) {



    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 10vh;
        background-color: #f9be7c;

        i {
            padding-left: 5vw;
            font-size: 200%;
            color: #e46472;
        }

    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 85vh;
        text-align: center;
        background-color: #fff9ec;

        .initialState {
            width: 60%;

            h1 {
                margin: 0;
                color: #212529;
                letter-spacing: 0;
                font-size: 12vw;
            }

            i {
                font-size: 20vw;
                padding: 0.4em;
                color: #212529;
            }

        }

        .addBtn {
            align-self: flex-end;
            color: #e46472;
            width: fit-content;
            min-height: fit-content;
            border-radius: 40px;
            padding: 1.5em;
            box-sizing: border-box;


            p {
                font-size: 5vw;
                margin: 0;
                font-weight: 300;
            }

            i {
                padding-top: 0.3em;
                font-size: 15vw;
            }

            a {
                color: #e46472;
            }
        }

       
    }

    .listContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 85vh;
        text-align: center;
        background-color: #fff9ec;

        .list {
            

            h1 {
                margin: 0;
                color: #212529;
                letter-spacing: 0;
                font-size: 10vw;
                padding-left: 5vw;
                padding-top: 2vh;
            }


        }

        .addBtn {
            align-self: flex-end;
            color: #e46472;
            width: fit-content;
            min-height: fit-content;
            border-radius: 40px;
            padding: 1.5em;
            box-sizing: border-box;


            p {
                font-size: 5vw;
                margin: 0;
                font-weight: 300;
            }

            i {
                padding-top: 0.3em;
                font-size: 15vw;
            }

            a {
                color: #e46472;
            }
        }

    }

    .formSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 20vh;


        h1 {
            font-size: 2.5rem;
            line-height: 0;
            letter-spacing: 0;

        }



        form {
            padding: 1rem;

            input {
                padding: 0.5rem;
                font-size: 1.5rem;
                background: #fff9ec;
                border: solid 1px #f9be7c;
                border-radius: 20px;                
            }

            ::placeholder {
                color: #e46472;
                font-size: 1.2rem;
                padding-left: 0.5rem;
            }

            button {
                padding: 0.5rem;
                font-size: 1.5rem;
                border: none;
                background: #fff9ec;
                color: #e46472;
                transition: all 0.3s ease;
                cursor: pointer;
            }

            #description {
               padding-bottom: 6rem; 
            }

        }

        .dropdown {

            margin: 1.5rem;
            position: relative;
            display: inline-block;

            #menu-links {
                display: none;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;

                a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }


            }

            #menu-links:checked~#myDropdown {
                display: block;
                position: absolute;
                background-color: #f9be7c;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                border-radius: 20px;
                transition: all 0.3s ease;


                a {
                    color: #fff9ec;
                    padding: 1.5rem 1.5rem;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 1.5rem;
                }

            }

            .dropbtn {
                padding: 1rem;
                font-size: 1.5rem;
                border: none;
                border-radius: 20px;
                background: #f9be7c;
                color: #fff9ec;
                transition: all 0.3s ease;
                cursor: pointer;
            }


        }

        #addTaskButton {
            padding: 1rem;
            font-size: 1.5rem;
            border: none;
            border-radius: 20px;
            background: #f9be7c;
            color: #fff9ec;
            transition: all 0.3s ease;
            cursor: pointer;
            margin-top: 0.5rem;

            a {
               text-decoration: none; 
               color: #fff9ec;         
              }
        }
    }


    footer {
        background-color: #f9be7c;
        text-align: center;
        height: 5vh;




        p {
            line-height: 0;
            font-weight: 300;


        }

        a {
            text-decoration: none;
        }

    }




}